body{
  margin:0;
  height: 80vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#050505;
  font-family:'Orbitron', sans-serif;
 color: #00eaff;
 overflow: hidden;
}

.Headings {
  text-align: center;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



h2 {
  font-size: 50pt;
}

.timer{
  display:flex;
  gap:40px;
}

.circle{
  width:160px;
  height:160px;
  border-radius:50%;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  background:
    repeating-conic-gradient(
      #00eaff 0deg 2deg,
      transparent 2deg 6deg
    );
}

.circle::before{
  content:"";
  position:absolute;
  width:130px;
  height:130px;
  background:#050505;
  border-radius:50%;
}

.value{
  position:relative;
  font-size:48px;
  color:#00eaff;
  text-shadow:0 0 15px #00eaff;
}

.label{
  position:absolute;
  bottom:-35px;
  width:100%;
  text-align:center;
  color:#00eaff;
  font-size:14px;
  letter-spacing:2px;
}

@media (max-width: 600px) {
  .timer {
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .circle {
    width: 130px;
    height: 130px;
    
  }

  .circle::before {
    width: 88px;
    height: 88px;
  }

  .value {
    font-size: 38px;
  }

  .label {
    font-size: 12px;
    bottom: -28px;
  }
}

/* Very small phones (≤ 380px) */
@media (max-width: 380px) {
  .timer {
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .circle {
    width: 90px;
    height: 90px;
   
  }

  .circle::before {
    width: 75px;
    height: 75px;
  }

  .value {
    font-size: 24px;
  }

  .label {
    font-size: 11px;
    bottom: -24px;
    letter-spacing: 1.5px;
  }
}
